gv-identity-picture {
  height: 65px;
  width: 65px;
  position: absolute;
  --gv-image--of: contain;
  transition: all 150ms ease-in-out 0s;
  border-radius: 15px;
}

.header {
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin: 24px var(--gv-theme-layout--pr) 0px var(--gv-theme-layout--pl);
  display: flex;
  justify-content: space-between;
  padding:10px;
  min-height: 65px;
}
.actions {
  position: relative;
}
.actions > button {
  position: absolute;
  right: 30px;
  top:0;
  bottom: 0;
  margin: auto;
  height: fit-content;
}
.page__content-back-button-vt {
  margin-left: var(--gv-theme-layout--pr);
  margin-top: 24px;
}
:host{
  --gv-img-icon-vt:15px;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
